.title h1 {
    color: white !important;
    font-family: Niramit;
}

.title span {
    font-weight: normal;
}

.my-custom-wallpaper {
    background: url(https://juanbatty.now.sh/static/media/wallpaper.66fb3140.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}