<style>

</style>
<div class="loading-bar-container">
    <div ng-class="filteredTableClass">
        <div class="panel panel-default panel-hovered mb30 main-panel">
            <div class="panel-heading show-notification">
                <a href="#">
                    <div class="square">
                        <div class="circle" tooltip-placement="top" tooltip="{{localizedString.Back}}">
                            <i class="material-icons icon-back">arrow_back</i>
                        </div>
                    </div>
                </a>
                <span>{{localizedString.ConfigurarActivacion}}</span>
                <div class="dnnRight">
                </div>
            </div>
            <div class="panel-body">
                <form name="myForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <tabset class="tabs-vertical config">
                            <tab heading="{{localizedString.Emisor}}" id="emisor">
                 <!--Emisor--> <tab-content>
                                    <div class="clearfix">
                                        <h3 class="ltr-blue subtitle">{{localizedString.Emisor}}</h3>
                                       
                                        <p>{{localizedString.ActivarEmision}}</p>
                                        <md-switch ng-model="feature.Emisor" ng-click="toggleEmisor()" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="text-complete">{{feature.Emisor ? localizedString.Activo : localizedString.Desactivado}}</label>
                                        </md-switch>

                                        <h4 class="ltr-blue subtitle" >{{localizedString.ArchivoPlano}}</h4>
                                       
                                        <p ng-disabled="!feature.Emisor">{{localizedString.ActivarArchivoPlano}}</p>
                                        <md-switch ng-model="feature.Options.isArchivoPlano" ng-click="toggleArchivoPlano()" ng-disabled="!feature.Emisor" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="text-complete">{{feature.Options.isArchivoPlano ? localizedString.Activo : localizedString.Desactivado}}</label>
                                        </md-switch>
                                   
                                        <p ng-disabled="!feature.Emisor" ng-class="(myForm.tipoDocumento.$dirty || !isValid) && !myForm.tipoDocumento.$valid?'md-input-invalid' : ''">{{localizedString.ArchivoPlanoInfo}}</p>
                                        <md-select ng-model="selected.DocumentType" placeholder="Seleccione" name="tipoDocumento" class="col-lg-4 col-md-4 col-sm-10 col-xs-10" ng-disabled="!feature.Options.isArchivoPlano" ng-change="addNewConfig()">
                                            <md-option ng-repeat="tipoDocumento in lstDocumentosEmitibles" value="{{tipoDocumento.Id}}">{{tipoDocumento.Nombre}}</md-option>
                                        </md-select>
                                        <div class="clearfix"></div>

        <!--Formulario archivo plano--><div class="col-lg-12" data-ng-repeat="config in emisor.emisorPorArchivo">

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <md-button class="md-icon-button md-primary col-xs-2"  ng-click="removeConfig($index)" tooltip="{{localizedString.RemoveConfig}}" tooltip-placement="bottom" aria-label="Remover" ng-disabled="!feature.Options.isArchivoPlano">
                                                        <i class="material-icons">delete</i>
                                                    </md-button>
                                                    <span>{{config.type}}</span> 
                                                </div>
                                                <div class="panel-body">
                                                    <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['fileSizeKB['+$index+']'].$valid.$dirty || !isValid) && !myForm['fileSizeKB['+$index+']'].$valid?'md-input-invalid' : ''">
                                                        <label class="dnnRequired">{{localizedString.fileSizeKB}}</label>
                                                        <input name="fileSizeKB[{{$index}}]" ng-model="emisor.emisorPorArchivo[$index].fileSizeKB" placeholder="{{localizedString.fileSizeKBInfo}}" ng-required="feature.Options.isArchivoPlano" numeric-only >
                                                    </md-input-container>
                                                    <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['emisor_emisorPorArchivo_validExtensions['+$index+']'].$dirty || !isValid) && !myForm['emisor_emisorPorArchivo_validExtensions['+$index+']'].$valid?'md-input-invalid' : ''">
                                                        <label class="dnnRequired">{{localizedString.extensions}}</label>
                                                        <md-select ng-model="emisor.emisorPorArchivo[$index].validExtensions" placeholder="Seleccione" name="emisor_emisorPorArchivo_validExtensions[{{$index}}]" multiple ng-required="feature.Options.isArchivoPlano">
                                                            <md-option ng-repeat="extensions in lstExtensions" value="{{extensions.code}}">{{extensions.name}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                    <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['emisor_emisorPorArchivo_separator['+$index+']'].$valid || !isValid) && !myForm['emisor_emisorPorArchivo_separator['+$index+']'].$valid?'md-input-invalid' : ''">
                                                        <label class="dnnRequired">{{localizedString.separators}}</label>
                                                        <md-select ng-model="emisor.emisorPorArchivo[$index].separator" placeholder="Seleccione" name="emisor_emisorPorArchivo_separator[{{$index}}]" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-required="feature.Options.isArchivoPlano">
                                                            <md-option ng-repeat="item in lstSeparator" value="{{item.code}}">{{item.name}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                    <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <label>{{localizedString.trimWhiteSpace}}</label>
                                                        <md-switch ng-model="emisor.emisorPorArchivo[$index].trimWhiteSpace" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-required="feature.Options.isArchivoPlano">
                                                            <label class="text-complete">{{emisor.emisorPorArchivo[$index].trimWhiteSpace ? localizedString.Activo : localizedString.Desactivado}}</label>
                                                        </md-switch>
                                                    </md-input-container>
                                                    <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <label>{{localizedString.ignoreBlankLines}}</label>
                                                        <md-switch ng-model="emisor.emisorPorArchivo[$index].ignoreBlankLines" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-required="feature.Options.isArchivoPlano">
                                                            <label class="text-complete">{{emisor.emisorPorArchivo[$index].ignoreBlankLines ? localizedString.Activo : localizedString.Desactivado}}</label>
                                                        </md-switch>
                                                    </md-input-container>
                                                     <div class="clearfix"></div>

                                                    <h5 class="ltr-blue subtitle col-xs-1">{{localizedString.detail}}</h5>
                                                    <md-button class="md-icon-button md-primary col-xs-2" ng-click="addNewColum($index)" tooltip="{{localizedString.ConfiguracionAdd}}" tooltip-placement="bottom" aria-label="Adicionar" ng-disabled="!feature.Emisor || !feature.Options.isArchivoPlano">
                                                        <i class="material-icons">playlist_add</i>
                                                    </md-button>
                                                    <div class="clearfix"></div>
                                                    <md-input-container class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['detail_fileName['+$index+']'].$dirty || !isValid) && !myForm['detail_fileName['+$index+']'].$valid?'md-input-invalid' : ''">
                                                        <label class="dnnRequired">{{localizedString.fileName}}</label>
                                                        <input name="detail_fileName[{{$index}}]" ng-model="emisor.emisorPorArchivo[$index].detail.fileName" placeholder="{{localizedString.fileName}}" ng-required="feature.Options.isArchivoPlano">
                                                    </md-input-container>

                                                    <div class="col-lg-12" data-ng-repeat="config in emisor.emisorPorArchivo[$index].detail.columnMapping">
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['_detail_columnMapping_property_['+$parent.$index+']['+$index+']'].$dirty || !isValid) && !myForm['_detail_columnMapping_property_['+$parent.$index+']['+$index+']'].$valid?'md-input-invalid' : ''">
                                                            <label class="dnnRequired">{{localizedString.property}}</label>
                                                            <input name="_detail_columnMapping_property_[{{$parent.$index}}][{{$index}}]" ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].property" ng-required="feature.Emisor && feature.Options.isArchivoPlano">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['_detail_columnMapping_description_['+$parent.$index+']['+$index+']'].$dirty || !isValid) && !myForm['_detail_columnMapping_description_['+$parent.$index+']['+$index+']'].$valid?'md-input-invalid' : ''">
                                                            <label class="dnnRequired">{{localizedString.Description}}</label>
                                                            <input name="_detail_columnMapping_description_[{{$parent.$index}}][{{$index}}]" ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].description"  ng-required="feature.Emisor && feature.Options.isArchivoPlano">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.RequiredInfo}}</label>
                                                            <md-switch ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].required" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="text-complete">{{emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].required ? localizedString.Yes : localizedString.No}}</label>
                                                            </md-switch>
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.validar}}</label>
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.detail.columnMapping_{{$index}}.valueResolver.validationFormat.value" ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.value" placeholder="{{localizedString.validarInfo}}">
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.detail.columnMapping_{{$index}}.valueResolver.validationFormat.type" ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.type" value="regex" type="hidden" ng-disabled="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.value.length<1">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.validarMessage}}</label>
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.detail.columnMapping_{{$index}}.valueResolver.validationFormat.message" ng-model="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.message" placeholder="{{localizedString.validarMessageInfo}} ng-disabled="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.value.length<1">
                                                        </md-input-container>
                                                        <md-button class="md-icon-button md-primary col-xs-2" ng-click="removeColum($parent.$index,$index)" tooltip="{{localizedString.Remover}}" tooltip-placement="bottom" aria-label="Remover" >
                                                            <i class="material-icons">delete</i>
                                                        </md-button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <h5 class="ltr-blue subtitle col-xs-1">{{localizedString.Headers}}</h5>
                                                    <md-button class="md-icon-button md-primary col-xs-2" ng-click="addNewheaders($index)" tooltip="{{localizedString.ConfiguracionAdd}}" tooltip-placement="bottom" aria-label="Adicionar" ng-disabled="!feature.Emisor || !feature.Options.isArchivoPlano">
                                                        <i class="material-icons">playlist_add</i>
                                                    </md-button>
                                                    <div class="clearfix"></div>
                                                    <md-input-container class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['header_fileName['+$index+']'].$dirty || !isValid) && !myForm['header_fileName['+$index+']'].$valid?'md-input-invalid' : ''">
                                                        <label class="dnnRequired">{{localizedString.fileName}}</label>
                                                        <input name="header_fileName[{{$index}}]" ng-model="emisor.emisorPorArchivo[$index].header.fileName" placeholder="{{localizedString.fileName}}" ng-required="feature.Emisor && feature.Options.isArchivoPlano">
                                                    </md-input-container>
                                                    <div class="col-lg-12" data-ng-repeat="config in emisor.emisorPorArchivo[$index].header.columnMapping">
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['header_columnMapping_property['+$parent.$index+']['+$index+']'].$dirty || !isValid) && !myForm['header_columnMapping_property['+$parent.$index+']['+$index+']'].$valid?'md-input-invalid' : ''">
                                                            <label class="dnnRequired">{{localizedString.property}}</label>
                                                            <input name="header_columnMapping_property[{{$parent.$index}}][{{$index}}]" ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].property" ng-required="feature.Emisor && feature.Options.isArchivoPlano">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm['header_columnMapping_description['+$parent.$index+']['+$index+']'].$dirty || !isValid) && !myForm['header_columnMapping_description['+$parent.$index+']['+$index+']'].$valid?'md-input-invalid' : ''">
                                                            <label class="dnnRequired">{{localizedString.Description}}</label>
                                                            <input name="header_columnMapping_description[{{$parent.$index}}][{{$index}}]" ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].description" ng-required="feature.Emisor && feature.Options.isArchivoPlano">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.RequiredInfo}}</label>
                                                            <md-switch ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].required" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <label class="text-complete">{{emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].required ? localizedString.Yes : localizedString.No}}</label>
                                                            </md-switch>
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.validar}}</label>
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.header.columnMapping_{{$index}}.valueResolver.validationFormat.value" ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].valueResolver.validationFormat.value" placeholder="{{localizedString.validarInfo}}">
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.header.columnMapping_{{$index}}.valueResolver.validationFormat.type" ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].valueResolver.validationFormat.type" value="regex" type="hidden" ng-disabled="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.value.length<1">
                                                        </md-input-container>
                                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                                                            <label>{{localizedString.validarMessage}}</label>
                                                            <input name="emisor.emisorPorArchivo_{{$parent.$index}}.header.columnMapping_{{$index}}.valueResolver.validationFormat.message" ng-model="emisor.emisorPorArchivo[$parent.$index].header.columnMapping[$index].valueResolver.validationFormat.message" placeholder="{{localizedString.validarMessageInfo}} ng-disabled="emisor.emisorPorArchivo[$parent.$index].detail.columnMapping[$index].valueResolver.validationFormat.value.length<1">
                                                        </md-input-container>
                                                        <md-button class="md-icon-button md-primary col-xs-2" ng-click="removeheaders($parent.$index,$index)" tooltip="{{localizedString.Remover}}" tooltip-placement="bottom" aria-label="Remover">
                                                            <i class="material-icons">delete</i>
                                                        </md-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin formulario de archivo plano-->
                                        </div>
                                   
                                        <div class="clearfix"></div>
                                        <h4 class="ltr-blue subtitle " ng-disabled="!feature.Emisor">{{localizedString.DatosEstampadora}}</h4>
                                        <p ng-disabled="!feature.Emisor">{{localizedString.ActivateStamper}}</p>
                                        <md-switch ng-model="feature.Options.isStamper" ng-click="toggleStampa()" ng-disabled="!feature.Emisor" aria-label="Switch 1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="text-complete">{{feature.Options.isStamper ? localizedString.Activo : localizedString.Desactivado}}</label>
                                        </md-switch>

                                        <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.timeStamper_host.$dirty || !isValid) && !myForm.timeStamper_host.$valid?'md-input-invalid' : ''">
                                            <label class="text-complete dnnRequired">{{localizedString.Url}}</label>
                                            <input name="timeStamper_host" placeholder="{{localizedString.hostExample}}" type="text" ng-model="emisor.timeStamper.host" ng-required="feature.Options.isStamper" ng-disabled="!feature.Options.isStamper" ng-pattern="/^((https?):\/\/)(([A-Za-z0-9\-\_]+\.)?[A-Za-z0-9\-\_]+\.\w+|((2[0-5]{2}|1[0-9]{2}|[0-9]{1,2})\.){3}(2[0-5]{2}|1[0-9]{2}|[0-9]{1,2}))(\/)?$/">
                                        </md-input-container>
                                        <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                            <label class="text-complete">{{localizedString.puerto}}</label>
                                            <input name="timeStamper_port" placeholder="{{localizedString.portExample}}" type="text" ng-model="emisor.timeStamper.port" ng-disabled="!feature.Options.isStamper" numeric-only MaxLength="4">
                                        </md-input-container>

                                        <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.User.$dirty || !isValid) && !myForm.User.$valid?'md-input-invalid' : ''">
                                            <label class="text-complete dnnRequired" ng-disabled="!feature.isStamper">{{localizedString.User}}</label>
                                            <input name="User" placeholder="{{localizedString.value}}" required type="text" ng-model="emisor.timeStamper.user" ng-required="feature.Options.isStamper" ng-disabled="!feature.Options.isStamper">
                                        </md-input-container>
                                        <md-input-container class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.Pass.$dirty || !isValid) && !myForm.Pass.$valid?'md-input-invalid' : ''">
                                            <label class="text-complete dnnRequired" ng-disabled="!isStamper">{{localizedString.password}}</label>
                                            <input name="Pass" placeholder="{{localizedString.value}}" required type="password" ng-model="emisor.timeStamper.pass" ng-required="feature.Options.isStamper" ng-disabled="!feature.Options.isStamper">
                                        </md-input-container>
</div>
                                </tab-content>
                            </tab>
               <!--Recepcion--><tab heading="{{localizedString.Receiver}}">
                                    <h3 class="ltr-blue subtitle">{{localizedString.Receiver}}</h3>
                                    <p>{{localizedString.ActivarRecepcion}}</p>
                                    <md-switch ng-model="feature.Receptor" ng-click="toggleOFE(feature.OFE)" aria-label="Switch 2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="text-complete">{{feature.Receptor ? localizedString.Activo : localizedString.Desactivado}}</label>
                                    </md-switch>
                                    <h3 class="ltr-blue subtitle">{{localizedString.IsPush}}</h3>
                                    <p>{{localizedString.IsPush}}</p>
                                    <md-switch ng-disabled="!feature.Receptor" ng-model="feature.Options.isPush" ng-click="togglePush(feature.Options.isPush)" aria-label="Switch 5" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="text-complete">{{feature.Options.isPush ? localizedString.Activo : localizedString.Desactivado}}</label>
                                    </md-switch>
                                    <br />
                                    <div ng-if="feature.Options.isPush">
                                        <!--Fila formulario push 1-->

                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm._aditionalParameters_host.$dirty || !isValid ) && !myForm._aditionalParameters_host.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.host}}</label>
                                            <input name="_aditionalParameters_host" placeholder="{{localizedString.hostExample}}" ng-model="aditionalParameters.host" ng-pattern="/^((https?):\/\/)(([A-Za-z0-9\-\_]+\.)?[A-Za-z0-9\-\_]+\.\w+|((2[0-5]{2}|1[0-9]{2}|[0-9]{1,2})\.){3}(2[0-5]{2}|1[0-9]{2}|[0-9]{1,2}))(\/)?$/" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                            <div class="hints">
                                                <span class="hint-error" ng-if="myForm.host.$error.pattern">{{localizedString.URLErrorHint}}</span>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.puerto.$dirty || !isValid) && !myForm.puerto.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.puerto}}</label>
                                            <input name="puerto" placeholder="{{localizedString.portExample}}" numeric-only MaxLength="4" type="text" ng-model="aditionalParameters.port" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                        </md-input-container>
                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.recursoAutenticacion.$dirty || !isValid) && !myForm.recursoAutenticacion.$valid ? 'md-input-invalid' : ''">
                                            <label class="text-complete">{{localizedString.recursoAutenticacion}}</label>
                                            <input name="recursoAutenticacion" placeholder="/ruta" type="text" ng-model="aditionalParameters.AuthResource" ng-pattern="//[a-zA-Z0-9_-]*$/" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                        </md-input-container>

                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.peticion.$dirty || !isValid) && !myForm.peticion.$valid ? 'md-input-invalid' : ''">
                                            <label class="dnnRequired text-complete">{{localizedString.peticionAutenticacion}}</label>
                                            <md-select ng-model="aditionalParameters.peticionAutenticacion" placeholder="{{localizedString.Seleccione}}" name="peticion" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                                <md-option value="{{localizedString.GET}}">{{localizedString.GET}}</md-option>
                                                <md-option value="{{localizedString.POST}}">{{localizedString.POST}}</md-option>
                                                <md-option value="{{localizedString.DELETE}}">{{localizedString.DELETE}}</md-option>
                                                <md-option value="{{localizedString.PUT}}">{{localizedString.PUT}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.ActualizacionRecurso.$dirty || !isValid) && !myForm.ActualizacionRecurso.$valid?'md-input-invalid' : ''">
                                            <label class="text-complete">{{localizedString.ActualizacionRecurso}}</label>
                                            <input name="ActualizacionRecurso" placeholder="/ruta" type="text" ng-model="aditionalParameters.UpdateResource" ng-pattern="//[a-zA-Z0-9_-]*$/" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                        </md-input-container>

                                        <md-input-container class="col-lg-2 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.updateMethod.$dirty || !isValid)  && !myForm.updateMethod.$valid ? 'md-input-invalid' : ''">
                                            <label class="dnnRequired text-complete">{{localizedString.peticionUpdate}}</label>
                                            <md-select ng-model="aditionalParameters.updateMethod" placeholder="{{localizedString.Seleccione}}" name="updateMethod" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                                <md-option value="{{localizedString.GET}}">{{localizedString.GET}}</md-option>
                                                <md-option value="{{localizedString.POST}}">{{localizedString.POST}}</md-option>
                                                <md-option value="{{localizedString.DELETE}}">{{localizedString.DELETE}}</md-option>
                                                <md-option value="{{localizedString.PUT}}">{{localizedString.PUT}}</md-option>
                                            </md-select>
                                        </md-input-container>

                                        <!--Fila formulario push 2-->
                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.metodoAutenticacion.$dirty || !isValid) && !myForm.metodoAutenticacion.$valid ? 'md-input-invalid' : ''">
                                            <label class="dnnRequired text-complete">{{localizedString.metodoAutenticacion}}</label>
                                            <md-select ng-change="clearFields()" ng-model="aditionalParameters.metodoAutenticacion" placeholder="{{localizedString.Seleccione}}" name="metodoAutenticacion" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                                <md-option value="None">{{localizedString.NoAuth}}</md-option>
                                                <md-option value="Basic">{{localizedString.BasicAuth}}</md-option>
                                                <md-option value="Digest">{{localizedString.DigestAuth}}</md-option>
                                                <md-option value="OAuth1">{{localizedString.OAuth10}}</md-option>
                                                <md-option value="OAuth2">{{localizedString.OAuth20}}</md-option>
                                                <md-option value="Hawk">{{localizedString.HawkAuth}}</md-option>
                                                <md-option value="AWS">{{localizedString.AWSSignature}}</md-option>
                                                <md-option value="JWT">{{localizedString.JWT}}</md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.user.$dirty || !isValid) && !myForm.user.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.usuario}}</label>
                                            <input name="user" ng-required="aditionalParameters.metodoAutenticacion=='Basic'" ng-disabled="aditionalParameters.metodoAutenticacion!='Basic'" type="text" ng-model="aditionalParameters.usuario" ng-disabled="!feature.Options.isPush">
                                        </md-input-container>
                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.contrasenia.$dirty || !isValid) && !myForm.contrasenia.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.password}}</label>
                                            <input name="contrasenia" ng-required="aditionalParameters.metodoAutenticacion=='Basic'" ng-disabled="aditionalParameters.metodoAutenticacion!='Basic'" type="password" ng-model="aditionalParameters.password" ng-disabled="!feature.isPush">
                                        </md-input-container>

                                        <!--Fila formulario push 3-->
                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.Scheduling.$dirty || !isValid) && !myForm.Scheduling.$valid ? 'md-input-invalid' : ''">
                                            <label class="dnnRequired">{{localizedString.Scheduling}}</label>
                                            <md-select ng-change="clearFieldsScheduling()" ng-model="aditionalParameters.Scheduling" placeholder="{{localizedString.Seleccione}}" name="Scheduling" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                                <md-option value="{{localizedString.BATCH}}">{{localizedString.BATCH}}</md-option>
                                                <md-option value="{{localizedString.Inmediate}}">{{localizedString.Inmediate}}</md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.timelimit.$dirty || !isValid) && !myForm.timelimit.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.timelimit}}</label>
                                            <input name="timelimit" ng-required="aditionalParameters.Scheduling=='BATCH'" ng-disabled="aditionalParameters.Scheduling!='BATCH'" type="text" numeric-only ng-model="aditionalParameters.timelimit" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                        </md-input-container>
                                        <md-input-container class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-class="(myForm.stacklimit.$dirty || !isValid) && !myForm.stacklimit.$valid?'md-input-invalid' : ''">
                                            <label>{{localizedString.stacklimit}}</label>
                                            <input name="stacklimit" ng-required="aditionalParameters.Scheduling=='BATCH'" ng-disabled="aditionalParameters.Scheduling!='BATCH'" type="text" numeric-only ng-model="aditionalParameters.stacklimit" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                        </md-input-container>
                                        <div class="clearfix"></div>
                                        <!--Fila formulario push 4 Cabeceras-->
                                        <div class="col-lg-12" data-ng-repeat="header in headers">
                                            <md-input-container class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-class="(myForm.key.$dirty || !isValid) && !myForm.key.$valid?'md-input-invalid' : ''">
                                                <label>{{localizedString.key}}</label>
                                                <input name="key" placeholder="{{localizedString.key}}" type="text" ng-model="keys[$index]" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                            </md-input-container>
                                            <md-input-container class="col-lg-5 col-md-5 col-sm-5 col-xs-12" ng-class="(myForm.value.$dirty || !isValid) && !myForm.value.$valid?'md-input-invalid' : ''">
                                                <label>{{localizedString.value}}</label>
                                                <input name="value" placeholder="{{localizedString.value}}" type="text" ng-model="values[$index]" ng-disabled="!feature.Options.isPush" ng-required="feature.Options.isPush">
                                            </md-input-container>
                                            <md-button class="md-icon-button md-primary col-xs-2" ng-click="addNewheader()" tooltip="{{localizedString.Agregar}}" tooltip-placement="bottom" aria-label="Adicionar" ng-disabled="!feature.Options.isPush && !feature.Receptor">
                                                <i class="material-icons">playlist_add</i>
                                            </md-button>
                                            <md-button class="md-icon-button md-primary col-xs-2" ng-if="headers[$index].id!='header1'" ng-click="removeheader()" tooltip="{{localizedString.Remover}}" tooltip-placement="bottom" aria-label="Remover" ng-disabled="!feature.Options.isPush">
                                                <i class="material-icons">delete</i>
                                            </md-button>

                                        </div>
                                        <div class="clearfix"></div>
                                        <md-button class="md-raised md-primary col-xs-12 col-lg-2 col-md-6" ng-click="probarConexion()" aria-label="probarConexion" ng-disabled="!feature.Options.isPush">
                                            <span>{{localizedString.probarConexion}}</span>
                                        </md-button>
                                    </div>                                
                            </tab>
  <!--Planes y Servicios--><tab heading="{{localizedString.PlansAndServices}}" active="obj.SelectPlan">
                                <div class="clearfix">
                                    <h3 class="ltr-blue subtitle">{{localizedString.Padre}}</h3>
                                    <p >{{localizedString.PadreInfo}}</p>
                                    <md-input-container class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="(myForm.contratoPadre.$dirty || !isValid) && !myForm.contratoPadre.$valid?'md-input-invalid' : ''">
                                        <md-select ng-disabled="feature.ERP && feature.OFE" ng-required="feature.Emisor || feature.Receptor" ng-model="selected.parentTenantId" placeholder="Seleccione" name="contratoPadre">
                                            <md-option ng-repeat="contrato in ContratosPadreDataSource.data" value="{{contrato.tenantId}}">
                                                {{contrato.identification +' - '+contrato.fullName }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <h3 class="ltr-blue subtitle">{{localizedString.Plan}}</h3>
                                 
                                    <p>{{localizedString.ActivarPlan}}</p>
                                    <md-input-container ng-disabled="feature.ERP && feature.OFE" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="(myForm.plan.$dirty || !isValid) && !myForm.plan.$valid?'md-input-invalid' : ''">
                                        <md-select ng-required="feature.Emisor || feature.Receptor" ng-model="selected.plan" placeholder="Seleccione" name="plan">
                                            <md-option value="PLAN001">{{localizedString.plan1}}</md-option>
                                            <md-option value="PLAN002">{{localizedString.plan2}}</md-option>
                                            <md-option value="PLAN003">{{localizedString.plan3}}</md-option>
                                            <md-option value="DocumentDb">{{localizedString.plan4}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <h3 class="ltr-blue subtitle">{{localizedString.Cartera}}</h3>
                                    <p>{{localizedString.ActivarCartera}}</p>
                                    <md-switch ng-model="feature.Cartera" aria-label="Switch 1"  ng-disabled="feature.ERP && feature.OFE" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="text-complete">{{feature.Cartera ? localizedString.Activo : localizedString.Desactivado}}</label>
                                    </md-switch>

                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>
            <div class="panel-footer todo-foot clearfix col-md-12" id="todo-filters">
                <div class="right" layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="SelectPlan()" ng-show="!obj.SelectPlan" aria-label="Activar">
                        <span>{{localizedString.Next}}</span>
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="ActivarContrato()" ng-show="obj.SelectPlan" aria-label="Activar">
                        <span>{{localizedString.Aceptar}}</span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>